/* client/src/App.css */
body {
  font-family: Arial, sans-serif;
}

.App {
  color: #ff6900;
}

button {
  background-color: #00d084;
  color: white;
}

a {
  color: #0693e3;
  text-decoration: none;
}
